*.swp
.idea/
.bsp/

# Ignore Visual Studio files
*.obj
*.exe
*.pdb
*.nupkg
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.parcel-cache
*.ilk
*.log
*.orig
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.DotSettings
[Tt]est[Rr]esult*
bin-docker/
obj-docker/

# NodeJS
node_modules/

# Dist
Unit.Dashboard/dist
Unit.Api/dist
Unit.Onboarding/dist
Unit.PlaidExchange/dist
Maitred.SDK/dist

# Scala/Java/Sbt
target/
project/boot/
project/plugins/project

.ionide/
.vscode/
.bloop
out/IntelliJ*
.DS_Store
.lh/

.metals
project/metals.sbt
project/project

#newman
api-tests/localNewman.sh

Maitred.SDK/dist/
/modules/core-experimental/

.pants.d/
.pids/
/pants_from_sources
__pycache__/
dist/